<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Organizerr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Organizerr.Properties.Settings>
            <setting name="EnableRadarr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSonarr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RadarrHost" serializeAs="String">
                <value>192.168.1.250</value>
            </setting>
            <setting name="RadarrPort" serializeAs="String">
                <value>7878</value>
            </setting>
            <setting name="RadarrUseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadarrUrlBase" serializeAs="String">
                <value>radarr</value>
            </setting>
            <setting name="SonarrHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SonarrPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SonarrUseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SonarrUrlBase" serializeAs="String">
                <value />
            </setting>
            <setting name="RadarrApiKey" serializeAs="String">
                <value>43bdebe9f37b4d20bd5c37834ddb8ac2</value>
            </setting>
            <setting name="SonarrApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RadarrHideDownloaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadarrHideUnmonitored" serializeAs="String">
                <value>False</value>
            </setting>
        </Organizerr.Properties.Settings>
    </userSettings>
</configuration>